body {
    background-color: black;
    font-family: "Montserrat", serif;
}

h1 {
    color: #F6F6F6;
    font-family: "Krona One", serif;
    font-weight: 500;
    font-size: 26px;
}

main {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 95vh;
    /* Full viewport height */
}

section {
    width: 60vw;
    display: flex;
    justify-content: space-between;

}

strong {
    color: #22D4FD;
}

p {
    color: #F6F6F6;
    font-size: 16px;
    line-height: 26px;
}

a {
    color: #000000;
    background-color: #22D4FD;
    padding: 20px 60px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

}

a:hover {

    background-color: #0086a4;

}

.texts,
.buttons {
    padding: 0 20px;
}

.buttons {
    margin-top: 51px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;


}