body {
    background-color: black;
}

h1 {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
    position: relative;
}

.sidebar ul li a {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s ease;
}

.sidebar ul li a:hover {
    color: #fff;
}

.sidebar__nav,
.library {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__nav .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__nav .logo img {
    width: 80px;
}


.library {
    margin-top: 10px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.library div {
    display: flex;
    justify-content: space-between;
}

.library button {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    background-color: #121212;
    padding: 0;
    transition: 0.3s ease;
}

.library button:hover {
    color: #fff;
}

.plus-style {
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s ease;

}

.plus-style:hover {
    color: #fff;
    background-color: #000;
}

.margin-top-zero,
ul.margin-top-zero {
    margin-top: 0;
}